# desktop file for Gnome

[Desktop Entry]
Name=Ubuntu maildir notify
Comment=A notifier for new emails in local maildir
Exec=/usr/bin/maildir-notify.py
Icon=evolution.xpm
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
