# desktop file for Gnome

[Desktop Entry]
Name=Maildir notify
Comment=A notifier for new emails in local maildir
Exec=/usr/bin/maildir-notify.py
Icon=maildir-notify.xpm
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
